<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="frontendApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

                    <a class="navbar-brand" href="#/">frontend</a>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/">Home</a></li>
                        <li><a ng-href="#/about">About</a></li>
                        <li><a ng-href="#/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!--<div ng-view=""></div>-->

        <div ng-controller="MainCtrl">
            <input ng-model="toto" />
            <button ng-click='newUser()'>click</button>

            <div ng-repeat="user in users">
                {{user}}
            </div>
            <button ng-click='getUserList()'>click</button>

            <button ng-click="getConnected()">connected user</button>
            <div ng-repeat="user in connected">{{user.name}}</div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
        </div>
    </div>


    <button>dododo</button>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/restapi.js"></script>
    <!-- endbuild -->

















    <!-- EXAMPLE CDN SOCKET IO -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>-->
    <!-- IF SAILS SERVER IS RUNNING : USE ITS LOCAL COPY OF SAILS.SOCKET.IO -->
    <!--<script src="/bower_components/socket.io.js"></script>-->

    <script src="http://127.0.0.1:1337/js/dependencies/sails.io.js"></script>

    <script type="text/javascript">
        function doreq() {
            io.socket.get('/user/create?name="toto"', function serverResponded(body, JWR) {

                // JWR ==> "JSON WebSocket Response"
                console.log('Sails responded with: ', body);
                console.log('with headers: ', JWR.headers);
                console.log('and with status code: ', JWR.statusCode);

                // first argument `body` === `JWR.body`
                // (just for convenience, and to maintain familiar usage, a la `JQuery.get()`)
            });

            io.socket.get("/user/sendmessage/hello", function(body, jwr) {
                console.log('Sails responded with: ', body);
                io.socket.on('response-event', function(d, e) {
                    console.log(d, e)
                })

            })
            io.socket.get('/user', function serverResponded(body, JWR) {

                // JWR ==> "JSON WebSocket Response"
                console.log('Sails responded with: ', body);
                console.log('with headers: ', JWR.headers);
                console.log('and with status code: ', JWR.statusCode);


                // first argument `body` === `JWR.body`
                // (just for convenience, and to maintain familiar usage, a la `JQuery.get()`)
            });

            io.socket.on('response-event', function(d, e) {
                console.log(d, e)
            })
            io.socket.on("toto", function(d) {
                console.log(d)
            })

        }

        io.sails.url = "http://127.0.0.1:1337/"


        io.socket.on('response-event', function(d, e) {
            console.log(d, e)
        })

        io.socket.get("user/getallusers", function(d) {
            io.socket.on("getListUsers", function(e) {
                console.log(e)

            })
        })

        // io.sails.connect("http://localhost:1337/", function(e) {
        //     console.log(e)
        // });
        io.socket.get("/user/sendmessage/", function(d) {
            console.log("connected")
        })

        io.socket.on("anevent", function(d) {
            console.log("connected")
        })
        io.socket.on("connect", function(d) {
            console.log("connected")
            doreq()
        })

        io.socket.on('user', function onServerSentEvent(e) {
            console.log(e)
        });
        // io.socket.get("http://localhost:1337/user/send/dodo", function(d) {
        //     console.log("connected")
        // });
    </script>

    <script type="text/javascript">
        // remote SOCKET 
        //var socket = io.connect("https://secure-savannah-34238.herokuapp.com");


        // socket.on('connect', function(data) {
        //     var name = prompt("Enter your name");
        //     if (name) {
        //         socket.emit('join', name);
        //     }

        //     socket.on("message", function(user) {
        //         console.log(user);
        //     });



        /***********************************************/
        /***********************************************/
        // TEST AJAX CALL TO REMOTE API
        // var xmlhttp = new XMLHttpRequest();
        // xmlhttp.onreadystatechange = function() {
        //     if (xmlhttp.readyState == XMLHttpRequest.DONE) {
        //         if (xmlhttp.status == 200) {
        //             console.log("AJAX results success")
        //                 //document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
        //         } else if (xmlhttp.status == 400) {
        //             alert('There was an error 400');
        //         } else {
        //             alert('something else other than 200 was returned');
        //         }
        //     }
        // };
        // xmlhttp.open("GET", "http://localhost:1337/user/", true);
        // xmlhttp.send();
        /***********************************************/
        /***********************************************/
        /***********************************************/
        // });
    </script>
</body>

</html>