<p>This is the sailsApp view.</p>

<input id="userName" type="text" ng-model="_username" /> <button id="login" ng-click="ctrl.userLogin()">enter</button>

<button id="clearData" ng-click="ctrl.dropData()"> Clear data </button>

<button id="createRoom" ng-click="ctrl.createRoom()"> create room </button>

<button id="sendMessage" ng-click="ctrl.postMessage()"> Message User </button>


<input ng-model="_messageToUser" />

<div>{{ctrl.message}}</div>

<h3>Users</h3>

<div ng-repeat="user in users">
    {{user.name}} - {{user.id}}
</div>

<h3>Rooms</h3>
<div ng-repeat="room in rooms" ng-click="ctrl.joinRoom(this)">
    <strong>Created by: {{room.createdBy}} - {{room.id}} </strong>
    <span ng-repeat="player in room.players"><br/>{{player.name}}</span>
</div>

<game userid="ctrl.msgtest" roomid='ctrl.roomId'></game>